:root {
    --cinza-background: #F7F7F7;
    --verde-fraco: #BFDAAA;
    --verde-realce: #21BA45;
    --verde-medio: #24B866;
    --verde-escuro: #138442;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: auto auto 100px auto;
    padding: 30px 50px;
    background-color: var(--cinza-background);
    border-radius: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.texto-cadastro {
    margin: 0px;
}

.titulo-cadastro {
    margin: 0px auto 15px auto;
}

.input-form {
    display: block;
    background-color: var(--cinza-background);
    width: 100%; /* Define a largura como 100% */
    padding: 8px; /* Adiciona preenchimento interno de 8px */
    margin-bottom: 10px;
    border: 0px;
    border-bottom: 2px solid var(--verde-escuro);
    box-sizing: border-box; /* Adapta o tamanho da caixa de acordo com a borda e o preenchimento */
}

.aqui {
    margin-left: 3px;

    color: var(--verde-escuro); /* Define a cor do texto dos links e botões do menu como verde escuro */
    text-decoration: none; /* Remove a decoração do texto (sublinhado) dos links do menu */
    background: none; /* Remove o fundo dos botões do menu */
    border: none; /* Remove a borda dos botões do menu */ 
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    margin: 0.2rem 0 0.2rem 0.3rem;

    &:hover {
        color: var(--verde-realce);
        text-decoration: underline;
    }
}
