:root {
    --cinza-background: #F7F7F7;
    --verde-fraco: #BFDAAA;
    --verde-realce: #21BA45;
    --verde-medio: #24B866;
    --verde-escuro: #138442;
}

.navbar {
    background-color: var(--cinza-background); /* Define a cor de fundo da barra de navegação como um tom de cinza claro */
    color: var(--verde-escuro); /* Define a cor do texto da barra de navegação como verde escuro */
    padding: 10px 40px; 
    width: 100%;
    position: fixed;
    top: 0; 
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.container {
    display: flex; /* Aplica o layout flexível ao contêiner, permitindo que os elementos filhos sejam organizados em linha */
    justify-content: space-between; /* Distribui os elementos filhos uniformemente, com espaço igual entre eles */
    align-items: center; /* Alinha verticalmente os elementos filhos ao centro do contêiner */
}

.navbar-brand span {
    font-size: 24px; /* Define o tamanho da fonte do texto dentro do contêiner da marca como 18 pixels */
}

.navbar-item,
.navbar-menu {
    display: flex; /* Aplica o layout flexível a cada um desses contêineres */
    align-items: center; /* Alinha verticalmente os elementos filhos ao centro de cada contêiner */
}

.navbar-menu a {
    color: var(--verde-escuro); /* Define a cor do texto dos links e botões do menu como verde escuro */
    text-decoration: none; /* Remove a decoração do texto (sublinhado) dos links do menu */
    background: none; /* Remove o fundo dos botões do menu */
    border: none; /* Remove a borda dos botões do menu */
    margin: 0 1rem 0 1rem;
    
    &:hover {
    color: var(--verde-realce); /* Cor do texto dos links ao passar o mouse */
    cursor: pointer; /* Muda o cursor para um ponteiro (mão) ao passar o mouse */
    }
}