:root {
    --cinza-background: #F7F7F7;
    --verde-fraco: #BFDAAA;
    --verde-realce: #21BA45;
    --verde-medio: #24B866;
    --verde-escuro: #138442;
  }

.button-bar {
    display: flex;
    justify-content:end;
    align-items: center;
    width: 100%;
}

.title {
    min-width: 15rem ;
}

.button-com-icone {
    font-weight: bold;
    display: flex;
    align-items: top;
    background-color: var(--verde-medio);
    color: var(--cinza-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    border: none;
    min-width: 10rem;
    padding: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--verde-escuro);
    }
}