:root {
    --cinza-background: #F7F7F7;
    --verde-fraco: #BFDAAA;
    --verde-realce: #21BA45;
    --verde-medio: #24B866;
    --verde-escuro: #138442;
}

.button-nova-dose {
    height: 84%;
    margin: 0.5rem 0.25rem;
    font-weight: bold;
    background-color: var(--verde-medio); /* Define a cor de fundo como verde escuro */
    color: var(--cinza-background);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    
    &:hover {
      background-color: var(--verde-escuro);
    }
  }