@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html, body, #root {
  @apply font-sans;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #BFDAAA;
}

#root {
  @apply pt-16 px-16; /* 4rem de padding no topo e laterais (16 Tailwind = 4rem) */
  box-sizing: border-box; /* Garante que o padding não afete o cálculo da largura total */
}
